/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/


/*--------------------------------------Chris Code-----------------------------------------------*/


/*--------------Top bar text----------------------*/

.fl-page-bar .navbar-nav li>a {
    font-size: 16px;
}

.fl-page-bar-nav>li {
    font-size: 16px;
    line-height: 24px;
}

.fl-page-bar-nav>li ul.storename {
    display: inline-block;
}


/*--------------Top bar text End----------------------*/


/*--------------------------------------Chris Code-----------------------------------------------*/

.desktopOnly {
    display: block;
}

#homePage header.fixedHeader {
    /* position: fixed; */
    z-index: 9;
    right: 0;
    left: 0;
    top: 0;
    /* background: #ffffff; */
}

.fl-page-nav-right .fl-page-nav-wrap .navbar-nav li.defaultActive>a,
.fl-page-nav-right .fl-page-nav ul.navbar-nav>li>a {
    color: #00707B;
}

.fl-page-bar .navbar-nav li>a:hover {
    color: #1fa0aa !important;
}

.fl-page-bar a:hover {
    color: #1fa0aa !important;
}

.fl-page-bar .message:hover {
    color: #1fa0aa !important;
}

.gform_wrapper.gf_browser_chrome .gfield_checkbox li input,
.gform_wrapper.gf_browser_chrome .gfield_checkbox li input[type=checkbox] {
    margin-top: 0px !important;
}

.fl-page-nav-right.fl-page-header-fixed,
.fl-page-header-fixed,
.fl-page-header {
    background: #ffffff;
}

.fl-page-nav-toggle-icon.fl-page-nav-toggle-visible-mobile .fl-page-nav .navbar-toggle {
    top: 10px;
    right: 0;
}

.fl-slide-text>p {
    display: none !important;
}

.gform_wrapper .gfield_required {
    color: #790000 !important;
}

.iscwp-gallery-slider .slick-dots li button,
.bx-wrapper .bx-pager.bx-default-pager a {
    border-color: #c7c7c7;
    background: #c7c7c7 !important;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    -webkit-border-radius: 50px;
}

.iscwp-gallery-slider .slick-dots li.slick-active button,
.bx-wrapper .bx-pager.bx-default-pager a.active,
.bx-wrapper .bx-pager.bx-default-pager a:focus,
.bx-wrapper .bx-pager.bx-default-pager a:hover {
    background: #444 !important;
    border-color: #444;
}

.fl-node-5cd54cfc43bf0 .uabb-social-share-horizontal .uabb-social-share-link-wrap {
    margin-bottom: 0 !important;
}

#responsive-menu-wrapper {
    padding: 50px 20px !important;
}

div#responsive-menu-search-box {
    width: calc(100% - 60px)
}

div#responsive-menu-additional-content {
    float: right;
}

#responsive-menu-container .responsive-menu-search-box {
    border: 0 !important;
    border-bottom: 1px #898989 solid !important;
}

#responsive-menu-container #responsive-menu li.responsive-menu-item .responsive-menu-item-link,
#responsive-menu-container #responsive-menu-search-box,
#responsive-menu-container #responsive-menu-additional-content,
#responsive-menu-container #responsive-menu-title {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}

#responsive-menu-container #responsive-menu>li.responsive-menu-item>.responsive-menu-item-link {
    text-transform: uppercase;
    color: #dadada;
    font-weight: 500;
    display: flex;
    align-items: center;
    width: auto;
    line-height: 1.5 !important;
}

#responsive-menu-container #responsive-menu ul.responsive-menu-submenu li.responsive-menu-item a {
    font-size: 13px;
    display: inline-block;
    width: auto;
}

#responsive-menu-container #responsive-menu li.responsive-menu-item a,
#responsive-menu-container #responsive-menu ul.responsive-menu-submenu li.responsive-menu-item a {
    line-height: .5 !important;
}

#responsive-menu-container #responsive-menu li.responsive-menu-item a .responsive-menu-subarrow {
    position: static;
    height: 40px !important;
    right: -15px !important;
    line-height: 28px !important;
    flex: 1;
    padding: 0 15px;
    text-align: left;
    background: transparent !important;
}

#responsive-menu-container #responsive-menu li.responsive-menu-item a .responsive-menu-subarrow.responsive-menu-subarrow-active {
    line-height: 36px !important;
}

#responsive-menu-container #responsive-menu li.responsive-menu-item a .responsive-menu-subarrow .fas {
    color: #dadada;
    font-size: 16px;
    vertical-align: middle;
}

#responsive-menu-container #responsive-menu li.responsive-menu-item a .responsive-menu-subarrow .fas:before {
    vertical-align: -webkit-baseline-middle;
}

#responsive-menu-container #responsive-menu ul.responsive-menu-submenu li.responsive-menu-item .responsive-menu-item-link {
    text-transform: uppercase;
    font-weight: 400;
    color: #C0C0C0;
    display: flex;
    align-items: center;
    width: auto;
    line-height: 1.3 !important;
}

#responsive-menu-container #responsive-menu {
    margin-top: 20px;
}

.toggleNavSlide .responsive-menu-inner {
    transform: rotate(45deg);
    background: #DEDEDE !important;
}

.toggleNavSlide .responsive-menu-inner::before {
    top: 0;
    opacity: 0;
}

.toggleNavSlide .responsive-menu-inner::after {
    bottom: 0;
    transform: rotate(-90deg);
    background: #DEDEDE !important;
}

.iscwp-gallery-grid.iscwp-image-fit .iscwp-col-5 .iscwp-img-wrp,
.iscwp-image-fit.slidestoshow-5 .iscwp-img-wrp {
    height: 320px;
}

.button-wrapper a.button.alt {
    border-color: #8e9d3a;
    background: #8e9d3a;
}

.product-detail-layout-4 .button-wrapper .button,
.product-detail-layout-default .button-wrapper .button,
.product-detail-layout-5 .button-wrapper .button {
    color: #ffffff;
    background: #414042;
    border-color: #414042;
}

.button-wrapper a:not(.button) {
    text-align: left;
    width: 100%;
    font-weight: 400;
    color: #414042;
}

.product-variations {
    padding: 50px 0;
    width: 100vw;
    position: relative;
    margin-left: -50vw !important;
    left: 50%;
    /* background: #f1f1f1; */
}

.product-variations .color_variations_slider {
    max-width: 1280px;
    margin: 0 auto;
}

.product-variations>h3 {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.product-variations .color-boxs-inners {
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}

.product-box.pdp2-leftbox .row {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.product-box h1 {
    font-weight: 500;
    font-size: 34px;
}

.product-box.pdp2-leftbox .row .product-colors {
    margin-right: 30px;
    border-right: 1px solid #8e9d3a;
    flex: 1;
    padding-right: 40px;
}

.product-box.pdp2-leftbox .row .col-md-12:nth-child(2) {
    display: flex;
    flex-direction: column-reverse;
    padding: 10px 15px;
}

.product-box.pdp2-leftbox h2 {
    display: none;
}


/* input AM & PM */

.gform_wrapper .gfield .ginput_container_select,
.gform_wrapper .gfield .gfield_time_ampm {
    width: 100% !important;
    max-width: 100% !important;
    position: relative;
    display: flex !important;
    align-items: baseline;
}

.gform_wrapper .gfield .ginput_container_select>select,
.gform_wrapper .gfield .gfield_time_ampm.ginput_container>select {
    width: 100% !important;
    max-width: 100% !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: .5em;
    border: 1px solid #ccc !important;
    border-radius: 3px;
    font-size: 1em;
}

.gform_wrapper .gfield .ginput_container_select:after,
.gform_wrapper .gfield .gfield_time_ampm:after {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    right: 20px;
    border-top: 8px solid black;
    opacity: 0.5;
    content: "";
    width: 0;
    height: 0;
    position: relative;
    pointer-events: none;
}

.container.fl-content-full {
    margin: 0;
    padding: 0;
    width: auto;
    max-width: none;
}

.defaultActive.nav-item .nav-link>.fa {
    color: #8e9d3a !important;
}

.facet_filters strong {
    color: #8e9d3a;
}

.fl-fixed-header.admin-bar .fl-page-bar {
    border-bottom: 0;
}

.fl-page-bar .message {
    text-transform: uppercase;
    font-size: 16px;
    margin-top: 10px;
}

.fl-page-header-des {
    text-align: left;
}

.fl-page-header-des .storename {
    position: relative;
}

.fl-page-header-des .storename a,
.fl-page-header-des .storename a p,
.fl-page-header-des .storename a span {
    color: #000;
}

.fl-page-header-des .storename .address a p:first-of-type {
    margin-bottom: 0;
    margin-top: 10px;
}

.fl-page-header-des .storename .address a:before {
    content: "\f041";
    font-family: "FontAwesome";
    left: -20px;
    position: absolute;
    font-size: 20px;
}

.fl-page-header-des .storename .phone a:before {
    content: "\f095";
    font-family: "FontAwesome";
    left: -20px;
    position: absolute;
    font-size: 20px;
    top: -3px;
}

nav.top-bar-nav {
    width: 100%;
}

nav.top-bar-nav>ul.navbar-nav {
    display: flex
}

nav.top-bar-nav>ul.navbar-nav li:first-child {
    flex: 1;
    margin-right: 100px;
}


/*    */

.product-swatch-inner .finance-btn {
    display: inline-block!important;
    padding: 10px 35px!important;
    background-color: #414042;
    color: #fff!important;
    box-sizing: content-box;
    text-decoration: none;
    text-align: center!important;
    margin: 12px 12px;
}

.product-swatch-inner .finance-btn:hover {
    text-decoration: none;
    background-color: #767676!important;
    border-color: #fff!important;
    color: #fff!important;
}

@media(max-width:1024px) {
    .fl-page-nav .navbar-nav li>a {
        padding: 15px 5px;
        font-size: 16px;
    }
    .fl-node-5cd2a2a142cd0 .fl-button-wrap,
    .fl-node-5cd2a2a142cd1 .fl-button-wrap {
        text-align: left;
    }
    .fl-builder-content .fl-col-group .fl-node-5cd2a2a142cce,
    .fl-builder-content .fl-col-group .fl-node-5cd2a2a142ccf {
        width: auto !important;
        margin-right: 10px;
    }
    .fl-page-nav-right .fl-page-header-container {
        padding: 10px 0;
    }
    .fl-page-nav-col {
        padding-left: 0;
    }
    #menu-main-menu li a::after {
        margin-left: 5px;
    }
}

@media(max-width:992px) {
    .fl-page-nav-wrap {
        background-color: #fff;
    }
    .fl-page-nav-right .fl-page-nav-collapse {
        display: flex !important;
        justify-content: space-between;
    }
    #homePage header.fixedHeader+.fl-page-content {
        padding-top: 158px;
    }
    .homepageslide .fl-node-5cd2a2a142cc9 {
        display: flex;
        width: 100%;
        margin: 0 auto;
    }
    .fl-col-group.fl-col-group-responsive-reversed .fl-col {
        max-width: 400px;
    }
    .cat-boxesHomepage .fl-col-group {
        display: flex;
    }
    .fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-content {
        padding: 0;
    }
    .fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-content .fl-col-group {
        padding: 0 20px;
    }
    .fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-text .homepageslide h1 * {
        font-size: 32px !important;
        color: #414042 !important;
    }
    .fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-text .homepageslide .fl-rich-text * {
        font-size: 16px !important;
        color: #414042 !important;
    }
    .footerSocial .fl-icon-group-right {
        text-align: center;
    }
    .fl-col-group.fl-node-5cd54cfc43bd7 {
        display: flex;
    }
    .gform_wrapper .gfield_checkbox li label,
    .gform_wrapper .gfield_radio li label {
        max-width: 100% !important;
    }
    .product-box.pdp2-leftbox .row .col-md-12:nth-child(2) {
        flex: 1;
    }
    .product-variations .slick-slider .slick-next {
        background: #ffffff;
        right: 0;
    }
    .product-variations .slick-slider .slick-prev {
        background: #ffffff;
        left: 0;
    }
    header .fl-page-header-row #menu-main-menu {
        display: none!important;
    }
    .fl-page-nav-right .fl-page-nav-collapse {
        display: flex !important;
        justify-content: flex-end;
    }
    button#responsive-menu-button {
        top: 70px!important;
    }
}

@media(max-width:768px) {
    .fl-post-image-beside-wrap .fl-post-image-beside {
        float: none;
        width: 100%;
        margin-right: 0;
    }
    .fl-page-header-des {
        text-align: center;
    }
    .fl-page-header-des .storename a p {
        display: inline-block;
    }
    .product-box.pdp2-leftbox .row {
        flex-direction: column;
    }
    header .fl-page-nav-col .fl-page-nav-wrap {
        border: 0px!important;
    }
}

@media(max-width:767px) {
    .fl-nav-mobile-offcanvas.fl-responsive-nav-enabled .fl-button-close {
        display: none;
    }
    .fixedHeader .fl-page-header-row.row {
        display: flex;
        flex-direction: column;
    }
    .fixedHeader .fl-page-header-row.row .storename a {
        position: relative;
    }
    .fixedHeader .fl-page-header-row.row .col-sm-12 {
        flex: 1;
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }
    .fl-page-header-primary .fl-logo-img {
        max-width: 100% !important;
    }
    .fl-page-nav-right .fl-page-nav-collapse {
        position: static !important;
        width: auto !important;
    }
    .fl-page-nav .navbar-nav li>a {
        padding: 15px 12px !important;
    }
    .fl-nav-mobile-offcanvas.fl-responsive-nav-enabled .fl-nav-offcanvas-collapse.navbar-collapse {
        opacity: 1 !important;
        display: flex !important;
        justify-content: flex-end;
        overflow: visible !important;
        box-shadow: none !important;
        -webkit-box-shadow: none !important;
        -moz-box-shadow: none !important;
        border-top: 0 !important;
    }
    #menu-top-bar-nav {
        display: flex;
    }
    #menu-top-bar-nav>li {
        border: 0;
    }
    .defaultActive.nav-item .nav-link {
        font-size: 0;
    }
    .defaultActive.nav-item .nav-link>.fa {
        font-size: 24px;
    }
    /*
    .fl-page-nav-toggle-icon.fl-page-nav-toggle-visible-mobile .fl-page-nav-collapse.collapse {
        display: block !important;
        visibility: visible !important;
        padding: 0;
        border: 0;
        right: 0;
        width: 70px;
        opacity: 1;
        height: 70px !important;
        left: auto !important;
        box-shadow: none !important;
        -webkit-box-shadow: none !important;
        -moz-box-shadow: none !important;
        position: absolute;
        overflow: visible !important;
    }
    .responsive-menu-open .fl-page-nav-toggle-icon.fl-page-nav-toggle-visible-mobile .fl-page-nav-collapse.collapse{
        width: 100%;
    }
    .fl-page-nav-toggle-icon.fl-page-nav-toggle-visible-mobile .fl-page-nav-collapse.collapse .fl-button-close{
        display: none   ;
    }

    button#responsive-menu-button {
        position: absolute !important;
        height: 70px !important;
    } */
    button#responsive-menu-button {
        width: 40px !important;
    }
    .desktopOnly {
        display: none !important;
    }
    /* .fl-page-nav-toggle-icon.fl-page-nav-toggle-visible-mobile .fl-page-nav-collapse.collapse ul#menu-top-bar-nav {
        display: none;
    } */
    #homePage header.fixedHeader+.fl-page-content {
        padding-top: 0;
    }
    .cat-boxesHomepage .fl-col-group {
        display: block;
    }
    .cat-boxesHomepage .fl-photo-content {
        text-align: center;
    }
    .fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-text .homepageslide h1 {
        text-align: left;
    }
    .fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-text .homepageslide .fl-rich-text * {
        text-align: left;
    }
    .fl-col-group.fl-node-5cd54cfc43bd7 {
        display: block;
    }
    .fl-page-nav-toggle-icon.fl-page-nav-toggle-visible-mobile .fl-page-header-logo {
        margin-right: 0;
        padding-bottom: 0 !important
    }
    .fixedHeader.fl-page-nav-right .fl-page-header-container {
        padding-bottom: 10px;
    }
    .fixedHeader .fl-page-header-row.row .col-sm-12.fl-page-header-logo-col {
        padding-right: 0;
        justify-content: center;
    }
    .homepageslide .fl-node-5cd2a2a142cc9 .fl-button .fl-button-text {
        font-size: 12px !important;
    }
    .fl-builder-content .fl-module-content-slider .fl-slide .homepageslide a.fl-button {
        padding: 10px 10px !important;
    }
    .homepageslide .fl-node-5cd2a2a142cc9 .fl-col {
        flex: 1;
    }
    .homepageslide .fl-node-5cd2a2a142cc9 .fl-col .fl-button-wrap {
        text-align: left;
    }
    .fl-page-header-des .storename a {
        display: inline-block;
    }
}

@media(max-width:500px) {
    .uabb-photo-gallery-stack-mobile ul.uabb-photo__gallery-filters {
        padding-left: 0px;
    }
    .uabb-photo-gallery-stack-mobile .uabb-photo__gallery-filter {
        padding: 5px 10px;
    }
}

@media(max-width:480px) {
    #responsive-menu-container {
        width: 75% !important;
        z-index: 99999 !important;
    }
    button#responsive-menu-button {
        top: 0px!important;
    }
    .product-swatch-inner .finance-btn {
        display: block!important;
    }
}

.product-detail-layout-5 .product-variations {
    margin-top: 0px !important;
}